.one_box {
    width : 20px;
    height : 20px;
    text-align: center;
}
.xword {
    display: inline-block;
}
body {
    background-color: floralwhite;
}
.content_wrapper {
    text-align: center;
}
.header {
    text-align: center;
    font: 25px/40px Verdana, sans-serif;
    color: #979893;
    font-weight: lighter;
/*    transform: scale(1, 1.5);*/
}
.toolbar {
    text-align: center;
    font: 15px/25px Verdana, sans-serif;
    color: #979893;
    font-weight: lighter;
    display: inline;
}
.navbar {
    text-align: center;
    font: 15px/25px Verdana, sans-serif;
    color: #979893;
    font-weight: lighter;
}
input {
    border: none;
    color: transparent;
    text-shadow: 0 0 0 black;
    text-align: center;

    &:focus {
        outline: none;
    }
}
.instructions {
    text-align: center;
    font: 10px/15px Verdana, sans-serif;
    color: #616161;
    font-weight: lighter;
/*    transform: scale(1, 1.5);*/
}
.instructions-wrapper {
    text-align: center;
}
button {
    background-color: gainsboro;
    font: 10px/15px Verdana, sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.3s;
    margin: 0px;
}
button:hover {
    background-color:darkgray;
}
.button-like {
    background-color:gainsboro;
    font: 12px/15px Verdana, sans-serif;
    color: black;
    transition-duration: 0.3s; 
    padding: 5px 8px;
    display: block;
    user-select: none;
}
.button-like:hover {
    background-color: darkgray;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.drop_content {
    display: none;
    position: absolute;
    background-color: floralwhite;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 140px;
}
.show {
    display: block;
}